.messageContainer{
    display: flex;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.hiddenbox{
    /* display: none; */
    flex-basis: 20%;
}

.messageAreaLeft{
    font-size: 15px;
    border: solid 1px black;
    border-radius: 0px 10px 10px 10px;
    flex-basis: 70%;
    margin-left: 10px;
    padding: 10px;
    
}

.messageAreaRight{
    font-size: 15px;
    border: solid 1px black;
    border-radius: 10px 0px 10px 10px;
    flex-basis: 70%;
    margin-right: 10px;
    padding: 10px;
}